.container{
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 2em;
}
main, footer, header, aside{
    border: 2px solid grey;
    padding: 2em;
    margin-bottom: 2em;
}
.content{
    border: none;
    padding: 2em 0;
}
@media (min-width: 800px){
    .content{
        display: flex;
        gap: 2em;
    }
    main{
        flex-grow: 3;
    }
    aside{
        flex-grow: 1;
    }
}
