body{
    background-color: #CCC;
}
.container{
    background-color: white;
    margin: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
}
.row{
    border-top: 2px solid black;
}
h1{
    padding: 0.5rem;
}
.column{
    display: flex;
    width: 100%;
}
.column div{
    padding: 1em;
}
.title{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    max-width: 30%;
    white-space: nowrap;
}
.column .title + div {
    flex-grow: 2;
    color: rgb(145, 145, 145);
}
@media (min-width: 800px){
    .container{
        flex-direction: row;
    }
    
}



