@media (width: 800px) {
    body::before {
    display: block;
    content: 'The viewport width is exactly 800px';
    }
    }
    @media (min-width: 800px) {
        body::before {
        display: block;
        content: 'The viewport width is larger than 800px';
        }
        }              
    
    @media (max-width: 800px) {
    body::before {
    display: block;
    content: 'The viewport width is smaller than 800px';
    }
    }      